/.ipynb_checkpoints/
/financialworks.egg-info/
/dist/
/src/__pycache__/
dist/
/src/**/__pycache__/
/src/*/__pycache__/
/build/
/workspace.code-workspace
/src/.vscode/
/src/acquisition/collector.py
/*.h5
/src/*.h5
src/models/save.py
/src/models/path.py
/models
/src/app/static/images/
/src/app/config.py
/src/acquisition/collector_eur_to_usd.py
/src/crontab_tasks/tasks/
/.vscode/
/config.json
/*.pyc
/src/*.pyc
/src/**/*.pyc
/src/*/*.pyc
twitter_app.json
/twitter_app.json
/twitter_credentials

