{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<form name="Sin in" method='POST'>
    <br>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" name='button' value="sin in" class="btn btn-default"> Sing in </button>
            </div>
        </div>

    

</form>

<form name="Sin up" method='POST'>

    <br>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" name='button' value="sin up" class="btn btn-default"> Sing up </button>
            </div>
        </div>

</form>

{% endblock %}

