{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login011.css') }}">
{% endblock %}

{% block content %}

     {% from "_macro.html" import render_field %}

    <header> 
        <h1 class="title_header"> Login <h1>
    </header>

    <div class="container">
        <br>
        <form class="form" id="form" method="POST">

            <div class="row-control-group" id="username_div">
                <div class="form-group col-xs-12 floating-label-form-group
                controls" id='floating_message'>
                    {{render_field(form.username, class='form-control')}}

                    <p class="help-block text-danger"></p>
                </div>
            </div>

            <div class="row-control-group" id="password_div">
                <div class="form-group col-xs-12 floating-label-form-group
                controls" id='floating_message'>
                    {{render_field(form.password, class='form-control')}}

                    <p class="help-block text-danger"></p>
                </div>
            </div>

            <br>

            <div id="Success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" name="button" value="send" class="btn-default" id="button_send"> Send </button>
                </div>
            </div>

            <br>

        </form>
    </div>



{% endblock %}

