body {
    background-color: red;
    background-image: url("../images/login/login0.jpg");
    background-size:cover;
}


.sinin {
    vertical-align: middle;
    background-color :white;
    text-align:center;
    font-size:20px;
    width:800px;
    margin: auto;
    border: 2px outset rgb(105, 214, 2);
}

.sinup {
    vertical-align: middle;
    background-color : white;
    text-align:center;
    font-size:20px;
    width:800px;
    margin: auto;
    border: 2px outset rgb(105, 214, 2);
}

.button_sinin {
    color : white;
    height: 50px;
    width: 300px;
    background-color: rgb(105, 214, 2);
}

.button_sinup {
    color : white;
    height: 50px;
    width: 300px;
    background-color: rgb(105, 214, 2);
}

header h1.title_header {
    text-align:center;
    margin: auto;
}